.clearLink {
    text-decoration: none;
    line-height: 2;
    color: black;
  }
  
  .btn {
    text-decoration: none;
    line-height: 2;
    color: black;
    border: none;
    background: none;
    font-size: 16px;
  }
  
  .mainSection {
    padding: 30px;
    display: flex;
  }
  
  .mainImage {
    margin-right: 30px;
  }
  
  .list {
    list-style: circle;
    text-decoration: none;
    line-height: 2;
  }
  