.content {
    font-size: 14px;
    line-height: 2;
  }
  
  .image {
    width: 150px;
  }
  
  .list {
    list-style: none;
    text-decoration: none;
    display: flex;
  }
  
  .profile {
    margin: 20px;
  }
  